*{
  margin: 0;
  
}

body{
  background-color: rgb(233, 233, 233) ;
}
.App{

  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

 
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
  
}
.form{

  align-self: center;
}
.cardsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;


}
.appRight{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  height: max-content;

}
.appLeft{
  display: flex;
  flex: 3;
  flex-direction: column;
  max-width: 60%;
  
}
.flag{
  height: 25px ;
}
.countryOptions{
  display: flex;
margin-right: 10px;
  flex:1;
  justify-content: space-between;
  align-content: space-between;
  
}
@media(max-width:1000px){
  .App{
    flex-direction: column;
    
  }
  .appLeft{
    max-width: 100%;
  }
  .appRight{
    margin-left: 0px;
  }
}
